* {
  padding: 0px;
  margin: 0px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
}

.post-form {
  width: 20%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.data {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 6px black;
}
form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

form input {
  padding: 10px 10px;
  outline: none;
}
form textarea {
  padding: 10px 10px;
  outline: none;
}

form button {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  box-shadow: 0px 5px 6px black;
  border-radius: 5px;
  cursor: pointer;
}
 @media (max-width:550px) {
    .main{
      display: flex;
      flex-direction: column; 
      gap: 20px;
      align-items: center;
      /* justify-content: center; */
      text-align: center;
    }
 }


.post-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 8px;
}

.card {
  width: 200px;
  padding: 20px;
  box-shadow: 0px 5px 6px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.title{
    font-size: 13px;
    line-height: 1.4;
    text-align: center;
}

.btn {
  display: flex;
  gap: 40px;
  align-items: center;
}
.btn1 {
  padding: 5px 10px;
  background-color: blue;
  border: none;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 5px black;
  font-size: 13px;
  cursor: pointer;
}

.btn2 {
  padding: 5px 10px;
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 5px black;
  font-size: 13px;  
  cursor: pointer;
}

