*{
    padding: 0px;
    margin: 0px;
}

html,body{
    width: 100%;
    height: 100%;

}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav{
    width: 100%;
    height: fit-content;
    background-color: #160F30;
    color: white;
    box-shadow: 0px 5px 8px rgba(205, 193, 193, 0.512);
}


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    align-items: center;
}


.left h4{
    font-size: 19px;
}

.right{
    display: flex;
    gap: 25px;
    align-items: center;
}

.right p{
    font-size: 14px;
    cursor: pointer;
}

.pro{
    width: 100%;
    height: 100%;
    
}

.products{
    width: 100%;
   min-height:  100vh;
    background-color: rgba(7, 7, 7, 0.891);
    display: flex;
    
}

.cards{
    padding: 30px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    display: flex;
    justify-content: center;
}

.card{
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 5px 8px rgb(31, 27, 27);
    background-color: rgb(208, 207, 207);
    border-radius: 5px;
}
.card:hover{
    box-shadow: 1px 5px 8px rgb(10, 8, 8);
}
.img{
    width: 100%;
    height: 45%;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card h3{
    font-size: 23px;
    font-weight: 600;
}

.card p{
    font-size: 15px;
    font-weight:200;

}

.btn{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.btn button{
    padding: 8px 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(207, 59, 84);
}

.btn i{
    cursor: pointer;
    font-size: 23px;
}