*{
    padding: 0px;
    margin: 0px;
}

html,body{
    width: 100%;
    height: 100%;

}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.nav{
    width: 100%;
    height: fit-content;
    padding: 10px 10px;

}


.navbar{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}


.left{

}