*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    height: 100vh;
    width: 100%;
}
.header{
    padding: 10px 10px;
    width: 100%;
    height: 50px;
    background-color: #151E2E;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}
.logo h4{
font-size: 24px;
}

.right{
    display: flex;
    gap: 40px;
}
.cartcount{
    padding: 7px 10px;
    background-color: #414855;
    border-radius: 10px;
    font-size: 13px;
}

.wishlist{
     padding: 7px 10px;
    background-color: #414855;
    border-radius: 10px;
    font-size: 13px;
}

.products{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6px 10px;
}
.productcard{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: center;
}


.card1{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 47%;
    padding: 10px 10px;
    height: fit-content;
    color: black;
    border: 1px solid black;
}
.card1 h1{
    font-size: 19px;
}

.btn{
    display: flex;
     gap: 10px;
}

.addcard{
    padding: 4px 10px ;
    font-size: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
button{
    border: none;
    cursor: pointer;
    color: white    ;
}

.cart{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px;
}

.cart h1{
    font-size: 23px;
}

.cart-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.right{
    display: flex;
    align-items: center;
}

.right .cou{
    background-color: gray;
    padding: 4px 8px;

}

.right button{
    background-color: red;
    padding: 5px 17px;
    border-radius: 10px;
}


.wishlist-data{
display: flex;
flex-direction: column;
gap: 10px;
padding: 10px 20px;
}

.cart-wishlist{
display: flex;
align-items: center;
background-color: #151E2E;
color: white;
padding: 7px;
border-radius: 10px;
justify-content: space-between;
}

.cash{
    display: flex;
    gap: 10px;
}

.cart-btn{
    display: flex;
    align-items: center;
    gap: 20px;
}

 .cart-btn button{
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 5px;
 }

  .btn2{
    background-color: red;
    color: white;
  }
  .btn1{
    background-color: blue;
  }     