*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 20px 10px;
}

.left-form{
    width: 70%;
    height: 100%;
    padding-top: 20px;
    padding-right: 20px;
    box-shadow: 0px 5px 9px black;
      padding: 10px;
      border-radius: 10px;
      background-color: rgba(0, 128, 0, 0.115);
}

form{
     display: flex;
     flex-direction: column  ;
      gap: 10px;
      justify-content: center;
}

input{
    font-size: 10px;
    font-weight: 200;
    border: 1px solid black;
    padding-left: 5px;
}

 select{
    border: 1px solid black;
    font-size: 13px;
    font-weight: 400;
 }
 label{
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 15px;

 }

 .picture{
    cursor: pointer;
 }

 


textarea{
    font-size: 12px;
    font-weight: 400;
    padding-left: 6px;
    border: 1px solid black;
}
button{
     background-color: rgba(0, 0, 0, 0.829);
     padding: 3px;
     color: white;
     border-radius: 10px;
     font-size: 15px;
}

label{
    font-size: 15px;

}




.right-profile{
    width: 50%;
    height: 100%;
    background-color: rgb(249, 247, 247);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.243);
    border-radius: 10px;
    box-shadow: 0px 5px 5px black;
    background-color: rgba(128, 128, 128, 0.157);
}

.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.453);
}

img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit:cover ;

}
.data{
    display: flex;
    gap: 30px;
    align-items: center;
}

h2{
    font-size: 12px;
    font-weight: bold;
}
p{
    font-size: 12px;
}


