*{
  padding: 0px;
  margin: 0px;

}
html,body{
  width: 100%;
  height: 100%;
}

.main{
  width: 100%;
  height: 100vh;
}

.login{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
.c{
   width: 400px;
  height: fit-content;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.card{
  width: 400px;
  height: fit-content;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  box-shadow: 0px 4px 7px black;
}

.card h1{
  font-size: 24px;
}

.users{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;

}

.user{
     width: fit-content;
     height: fit-content;
     background-color: #EFEFEF;
     padding: 50px 50px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 6px;
     border-radius: 10px;
}

.login button{
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  border: none;
}

.user p {
  background-color: rgba(0, 128, 0, 0.283);
  color: green;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* chat page */

.page{
  width: 100%;
  height: 100vh;
  display: flex;
}


.forms{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
}


.forms h1{
  font-size: 24px;
}

.form-data{
  width: 300px;
  height: fit-content ;

  box-shadow: 0px 4px 5px black;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.for-data{
 display: flex;
 flex-direction: column;
 gap: 20px;
}
.names{
  display: flex;
  flex-direction: column;  
  gap: 10px;
}
.for-data h4{
   font-size: 12px;
}

.for-data input{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 90px;
  padding-left: 10px;
  outline: none;
}

.memb{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.m{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form-but{
  display: flex;
  justify-content: space-between  ;
  
}

.form-data button{
  font-size: 13px;
  padding: 7px 7px;
  border-radius: 5px;
  background-color: rgba(11, 6, 70, 0.788)
}

.left{
  width: 20%;
  height: 100%;
  background-color:#2C3E50;
  color: white;
}

.profile{
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  gap: 20px;
}

.top-pro{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-pro button{
  font-size: 10px;
  padding: 5px 7px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.349);
  border: none;
  color: white;
}
.top-pro .profile-p{
  font-size: 24px;
}

.profile h4{
    font-size: 20px;
}
.profile p{
  font-size: 14px;
}

.profile-btn{
  display: flex;
  gap: 10px;
  cursor: pointer;

}
.profile-btn button{
  padding: 10px 20px;
  font-size: 10px;
  border-radius: 4px;
  border: none;
  background-color: rgba(0, 0, 255, 0.443);
  color: white;
  cursor: pointer;

}
.mem{
  display: flex;
  flex-direction: column;
  gap: 3px;
  /* background-color: red; */
  padding: 4px 5px;
  box-shadow: 0px 3px 8px gray;
  cursor: pointer;
}

.profile .h{
  font-size: 17px;
 }
.mem .user-p{
  font-size: 10px;

}
.mem .user-d{
  font-size: 15px;
}



.mid{
  width: 60%;
  height: 100%;
  background-color: rgb(201, 197, 197);
  overflow: hidden;
}


.chat{
   width: 100%;
   height: 100%;
   padding: 10px 10px;
}
.chat h4{
  font-size: 14px;
  font-weight: 900;
}
.nav{
  color: rgba(0, 0, 0, 0.342);
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 20px;
}

.mes{
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-left: 30px;
  height: 75%;
}

form{
  display: flex;
  gap: 10px;
}
form textarea{
  width: 80%;
  outline: none;
}
form button{
  padding: 6px 10px;
  background-color: blue;
  color: white;
  cursor: pointer;

  border: none;
}





.right{
  width: 20%;
  height: 100%;
  background-color: #2C3E50;
  color: white;
}

.history{
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.history button{
  background-color: red;
  border: none;
  font-size: 10px;
  border-radius: 5px;
  width: fit-content;
  padding: 7px 10px;
  color: white;
  cursor: pointer;
}
.history h1{
 font-size: 17px;
}

.his{
  display: flex;
  flex-direction: column;
  gap: 5px;
}