*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

.main{
  width: 100%;
  height:100vh;
  display: flex;
}

.left{
  width: 20%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 65%;
  padding: 0px 10px;
}
.img{
  width: 50px;
  height: 50px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.left-top{
  display: flex;
  gap: 20px;

  padding: 10px;
  flex-direction: column;
}

h3{
  font-size: 23px;
  font-weight: 800;
}
.left-top1{
  display: flex;
  gap: 20px;
  align-items: center;
  
}
button{
  padding: 10px 15px ;
  background-color: rgba(0, 0, 255, 0.356);
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 7px black;
 border-radius: 5px;
}

.right{
  width: 80%;
  height: 100vh;
  /* background-color: rgba(128, 128, 128, 0.178); */
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-data{
  width: 250px;
  height:fit-content;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  box-shadow: 0px 3px 7px black;
}

form{
display: flex;
flex-direction: column;
gap: 10px;
}

input{
  padding: 10px;
  outline: none;

}
textarea{
  padding: 5px 6px;
  outline: none;
}
form button{
  padding: 5px 15px ;
  background-color: blue;
  color: white;
  width: fit-content;
  margin-left: 56px;
  border-radius: 5px;
  font-size: 13px;
}
.btn{
  padding: 10px 15px ;
  background-color: rgb(0, 0, 255);
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 7px black;
 border-radius: 5px;
 color: white;
}