*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apps{
    margin-top: 3px;
    width: 69%;
    height: fit-content;
    padding: 10px;
    box-shadow: 0px 1px 5px black;
}

.top-text{
    display: flex;
    justify-content: space-between;
    padding: 16px ;
}
.top-text h1{
    font-size: 25px;
    font-weight: 700;
    
}
.top-right{
  display: flex;
  gap: 15px;
}


.top-right i{
   font-size: 20px;
   font-weight: 400;
}
.count-box{
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;    
    margin-left: 10px;
    margin-top: 10px;
    align-items: center;
}

.timer{
    border-radius: 10px ;
    border: 1px solid black;
    width: 130px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer h1{
    font-size: 20px;
}

.fill-data-box{
    width: 100%;
    border: 1px solid black;
    height: fit-content;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}
.fill-data-box h1{
    font-size: 27px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form input{
    padding: 10px;
    border-radius: 10px;
    /* border: 1px solid black; */
    border: none;
    box-shadow: 0px 2px 5px black;
}
form textarea{
    padding: 10px;
      border: none;
    box-shadow: 0px 1px 5px black;
    border-radius: 10px;
}
form select{
    padding: 10px;
      border: none;
    box-shadow: 0px 1px 5px black;
    border-radius: 10px;
    margin-bottom: 20px;
}

form button{
    width: fit-content;
    padding-top: 10px;
    padding-bottom:10px ;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: rgba(0, 128, 0, 0.794);
    border: none;

}

